<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="EXCEPTIONS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/exceptions.log</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/exceptions.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>EXCEPTIONS</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>ACCEPT</onMatch>
        </filter>

    </appender>

    <root level="all">
        <appender-ref ref="EXCEPTIONS"/>
    </root>

</configuration>